/data/
/example_configs/archive/
/example_weights/
/od_legacy/
/paper_ablations/
/paper_configs_kitti_tracking/
/paper_configs_vkitti/
*.pyc
*#*
*.pyx
*.record
*.tar.gz
*.tar
*.swp
*.npy
*.ckpt*
*.idea*
axcana.egg-info
.vscode
.idea
*.blg
*.gz
*.avi
/logs/
/logs_archived/
kitti_tracking_0006_example/
conference_room_data_log_images/
metis_scripts/*.mat
